<launch>
    <arg name="use_dwa" default="true" />
    <arg name="circuit" />

    <node pkg="racer" name="circuit_analysis" type="circuit_node" output="screen">
      <rosparam command="load" file="$(find racer)/circuits/$(arg circuit).yaml" />
    </node>

    <node pkg="racer" name="planning" type="planning_node" output="screen">
      <param name="allow_reverse" value="true" />
    </node>

    <group if="$(arg use_dwa)">
        <node pkg="racer" name="following" type="dwa_following_node">
            <param name="costmap_topic" value="/obstacles/costmap/costmap" />
            <param name="prediction_horizon_s" value="1.0" />
            <param name="max_allowed_speed_percentage" value="0.25" />
            <param name="obstacle_proximity_error_weight" value="100" />
        </node>
    </group>

    <group unless="$(arg use_dwa)">
        <node pkg="racer" name="following" type="geometric_following_node" output="screen">
            <param name="costmap_topic" value="/obstacles/costmap/costmap" />
            <param name="min_lookahead" value="1" />
            <param name="max_allowed_speed_percentage" value="0.25" />
        </node>
    </group>
</launch>
