<launch>
  <arg name="circuit" />
  <arg name="base_link_frame_id" default="base_link" />

  <group>
    <node pkg="racer" name="circuit_analysis" type="circuit_node" output="screen">
      <rosparam command="load" file="$(arg circuit)" />
      <param name="lookahead" value="3" />
    </node>

    <node pkg="racer" name="state" type="current_state_node" output="screen">
      <param name="frequency" value="25" />
      <param name="base_link_frame_id" value="$(arg base_link_frame_id)" />
      <param name="motor_rpm_topic" value="/racer/motor_rpm" />
    </node>

    <node pkg="racer" name="planning" type="planning_node" output="screen">
      <param name="map_topic" value="/obstacles/costmap/costmap" />
      <param name="max_frequency" value="2" />

      <param name="throttle_levels" value="9" />
      <param name="steering_levels" value="15" />

      <param name="time_step_s" value="0.04" />
    </node>

    <node pkg="racer" name="following" type="dwa_node" output="screen">
      <param name="map_topic" value="/obstacles/costmap/costmap" />
      <param name="prediction_horizon_s" value="0.28" />
      <param name="integration_step_s" value="0.04" />

      <param name="distance_to_obstacle_weight" value="100.0" />
      <param name="position_weight" value="60.0" />
      <param name="heading_weight" value="30.0" />
      <param name="velocity_weight" value="80.0" />

      <param name="frequency" value="50" />

      <param name="ackermann_topic" value="/racer/ackermann_commands" />
    </node>
  </group>
</launch>