<launch>
  <node pkg="bno055_usb_stick" type="bno055_usb_stick_node" name="imu_node" output="screen">
    <param name="port" value="/dev/imu" />
    <param name="publish_tf" value="false" />
    <param name="frame_id" value="imu_original" />
    <remap from="/imu" to="/imu_raw" />
  </node>

  <!-- `bno055_usb_stick` does not include covariances which are neccessary for robot_pose_ekf -->
  <!-- we also need to remap the axes of the IMU (which cannot be done easily with a tf static_transform_publisher -->
  <node pkg="racer_sensors" type="fix_imu" name="fix_imu" output="screen">
    <param name="imu_frame_id" value="imu" />
    <param name="imu_input_topic" value="/imu_raw" />
    <param name="imu_output_topic" value="/imu_data" />
    <param name="covariance" value="0.001" />
  </node>
</launch>
