<launch>

  <arg name="map" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find racer)/maps/$(arg map).yaml" />
  
  <include file="$(find racer)/launch/ydlidar.launch" />
  <include file="$(find racer)/launch/arduinos.launch" />

  <node pkg="tf" type="static_transform_publisher" name="laser_2_base_link" args="0.125 0 0.135 0 0 0 laser base_link 20" />

  <node pkg="odometry_node" type="node" name="odometry" output="screen" />

  <node pkg="particle_filter" type="particle_filter.py" name="particle_filter_localization">
    <param name="scan_topic" value="/scan" />
    <param name="odometry_topic" value="/racer/odometry" />

    <param name="angle_step" value="5" />
    <param name="max_particles" value="3000" />
    <param name="max_viz_particles" value="20" />

    <param name="range_method" value="rmgpu" />
    <param name="squash_factor" value="2.0" />
    <param name="theta_discretization" value="90" />

    <param name="max_range" value="10" />
    <param name="viz" value="1" />
    <param name="fine_timing" value="0" />
    <param name="publish_odom" value="1" />

    <param name="z_short" value="0.01" /> 
		<param name="z_max" value="0.07" /> 
		<param name="z_rand" value="0.12" /> 
		<param name="z_hit" value="0.75" /> 

    <param name="motion_dispersion_x" value="0.05" /> 
    <param name="motion_dispersion_y" value="0.025" /> 
    <param name="motion_dispersion_theta" value="0.25" /> 

		<param name="rangelib_variant" value="2" /> 
 </node>

</launch>
