<launch>
  <arg name="map" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find racer)/maps/$(arg map).yaml" />
 
  <node name="obstacles" pkg="costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam file="$(find racer)/launch/costmap.yaml" command="load" ns="costmap" />
  </node>

  <!-- we assume that the origin of the map [0, 0], direction 0rad, is the starting position of the racecar -->
  <node pkg="rostopic" type="rostopic" name="rostopic" args="pub initialpose geometry_msgs/PoseWithCovarianceStamped '
  {
    header: {
      frame_id: map
    },
    pose: {
      pose: {
        position: {
          x: 0.0,
          y: 0.0,
          z: 0.0
        },
        orientation: {
          x: 0.0,
          y: 0.0,
          z: 0.0,
          w: 1.0
        }
      }
    }
  }'" />
</launch>
