<launch>
  <arg name="map" />
  <arg name="circuit" />
  <arg name="use_dwa" default="true" />

  <include file="$(find racer)/launch/map.launch">
    <arg name="map" value="$(arg map)"/>
  </include>

  <!--node pkg="rosbag" type="play" name="bag" output="screen" args="- -clock $(find racer)/bags/2019-08-03-15-59-46.bag" /-->
  <include file="$(find racer)/launch/odometry.launch" />
  <include file="$(find racer)/launch/amcl_localization.launch" />

  <include file="$(find racer)/launch/agent.launch">
    <arg name="use_dwa" value="$(arg use_dwa)" />
    <arg name="circuit" value="$(arg circuit)" />
  </include>
</launch>
