<launch>
    <node name="joystick" pkg="joy" type="joy_node">
        <param name="dev" type="string" value="/dev/joystick" />
    </node>

    <node name="joystick_transformer" pkg="joystick_controller" type="node" />
    <node name="serial_node" pkg="rosserial_python" type="serial_node">
        <param name="port" type="string" value="/dev/arduino" />
    </node>
</launch>
