<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="arduino1" output="screen">
    <param name="port" value="/dev/ttyUSB1" />
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="arduino2" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
  </node>
</launch>
