<launch>

  <arg name="map_file" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node pkg="bno055_usb_stick" type="bno055_usb_stick_node" name="imu_node" output="screen">
    <param name="port" type="string" value="/dev/imu" />
    <param name="publish_tf" type="bool" value="true" />
    <param name="frame_id" type="string" value="imu_frame" />
  </node>

  <node name="ydliar" pkg="ydlidar" type="ydlidar_node" output="screen">
    <param name="port" type="string" value="/dev/lidar" />
    <param name="baudrate" type="int" value="115200" />
    <param name="frame_id" type="string" value="laser_frame" />
    <param name="frequency" type="int" value="10" />
    <param name="sample_rate" type="int" value="5" />
    <param name="range_min" type="double" value="0.35" />
    <param name="range_max" type="double" value="16" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_2_laser_frame" args="0 0 0 0 0 0 base_link laser_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_2_imu_frame" args="0 0 0 0 0 0 base_link imu_frame 100" />

  <node pkg="rosserial_python" type="serial_node.py" name="arduino1">
    <param name="port" value="/dev/arduino1" />
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="arduino2">
    <param name="port" value="/dev/arduino2" />
  </node>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="odom_model_type" value="diff-corrected" />
  </node>

</launch>
